@model Phoenix.Features.Suppliers.SupplierViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@Model.Name</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-primary" asp-controller="Suppliers" asp-action="Edit">Update Supplier</a>
        <a class="btn btn-sm btn-outline-danger" asp-controller="Suppliers" asp-action="Add">Delete Supplier</a>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>@Html.DisplayFor(c => c.Name)</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>@Html.DisplayFor(c => c.Phone)</td>
                </tr>
                <tr>
                    <th>Fax</th>
                    <td>@Html.DisplayFor(c => c.Fax)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="section">
    <h2>Recent Orders</h2>
    <div class="row">
        <div class="col-8">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <th>Id</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Oxitocin HCL</td>
                        <td>300 KG</td>
                        <td>$4500</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Bicularinine Base</td>
                        <td>1 MT</td>
                        <td>$10,000</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Hydrochloric Acid</td>
                        <td>2000 Litre</td>
                        <td>$500</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>